.btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.drawerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 817px) {
    .content {
        display: flex;
        flex-direction: column;
        /* padding: 0 !important; */
        margin: 0;
        overflow: hidden;
    }
    
}