.root {
    display: inline-block;
    width: 20%;
    height: 250px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    margin-bottom: -4px;
    /* rgb(147, 61, 119) redish */
    /* rgb(61, 61, 147) purple */
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding: 5px 10px;
}

.icon {
    transition: 0.3s all ease-in-out !important;
}

.root:hover .icon {
    transform: scale(1.2);
    color: #fff;
}

@media screen and (max-width: 817px) { 
    .root {
        width: 100%;
        height: 50px;
    }
}