.palette {
    height: 100vh;
    overflow: hidden;
}

.paletteColors {
    height: 90%;
}


@media screen and (max-width: 817px) {
    .paletteColors {
        display: flex;
        flex-direction: column;
    }
}