.page {
	height: 100%;
	position: fixed;
	width: 100%;
	overflow: auto;
}
.page-enter {
	transform: translateX(100%);	
}

.page-enter-active {
	transform: translateX(0%);
	transition: opacity 500ms, transform 500ms;
}

.page-exit {
	transform: translateX(-100%);
	transition: opacity 500ms, transform 500ms;
}

.page-exit-active {
	transform: translateX(-100%);
	transition: opacity 500ms, transform 500ms;
}